<% if business_signed_in? %>
User <%= current_business.email %>.
<%= link_to "Sign out", destroy_business_session_path, method: :delete %>
<% end %>

<h1>User profile</h1>

<div class="form-group">
	<%= form_tag businesses_path, :method => 'GET' do %>
	<%= text_field_tag 'id', nil,
	placeholder: 'Enter company ticker symbol', size: 50 %>
	<%= submit_tag 'Lookup Stock Price', class: 'btn btn-default' %>
</div>
<% end %>

<!-- Display stock price -->
<% if @stock %>
  <%= @stock %>
<% elsif @empty %>
  <%= @empty %>
<% end %>

<!-- Error handling if stock price doesn't exist  -->
<% if @error %>
  <%= @error %>
<% end %>
