<h1>User profile</h1>

<% if business_signed_in? %>
<p>User signed in as... <%= current_business.email %>. Not you?
	<%= link_to "Sign out", destroy_business_session_path, method: :delete %>
</p>
<% end %>

TODO: Show a stock lists (users can CRUD)

<h1>List of business users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

	<% @businesses.each do |business| %>
	  <tr>
	    <td><%= business.email %></td>
	    <td><%= link_to 'Show', business %></td>
	    <td><%= link_to 'Edit', edit_business_path(business) %></td>
	    <td><%= link_to 'Destroy', business, method: :delete,
	                                     data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
</table>
