<p>
  <strong>Ticker:</strong>
  <%= @stock.ticker %>
</p>


<table class="table">
  <thead>
    <tr>
      <th>Price</th>
      <th>Retrieved at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock.prices.each do |price| %>
    <tr>
      <td><%= price.price %></td>
			<td><%= price.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <%= link_to 'Get the latest price', stock_prices_path(@stock), method: :post, class: "btn btn-primary" %>
  </div>
</div>
<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
